<div class="container">
  <h1> Contact Us</h1>
  <hr>
  <div class="boxes">
    <div class="box1">
      <p> * Due to high volume we are only offering pre-orders. Please call us or fill out the form to schedule. Thank
        You for your time and patience ! * </p>
      <hr>
    </div>

    <div class="box3">
      <a class="slink" routerLink="orderonline" routerLinkActive="active-link">Order online</a>
    </div>

    <div class="box3">
      <p>Phone Number: <a href="tel:+1510-619-0220">+1(510)-619-0220 </a></p>
      Email Address:
      <a
        href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=1209600&osid=1&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&ifkv=AWnogHfNxnF3YnJ6Ixm8vYMa8vgJXbhPTk8qS-BZK75MyFu-ezHW6CQ9KmjLF708vSk9H9-yCXol&flowName=GlifWebSignIn&flowEntry=ServiceLogin">matkayogurt@gmail.com
      </a>
      <address> San Jose, CA,95117</address>
      <a href="https://www.google.com/maps/place/1075+Ranchero+Way,+San+Jose,+CA+95117/@37.3062879,-121.9759381,17z/data=!3m1!4b1!4m6!3m5!1s0x808fcab9a4df2c85:0x448c32b3a988b77!8m2!3d37.3062837!4d-121.9737494!16s%2Fg%2F11c2g46m_8"
        class="btn btn-success">Get direction</a>
    </div>
  </div>
</div>