 <div class="container">
    <h1> Classic and Authentic </h1><hr>
    <div class="box1">
        <p>
             &nbsp; &nbsp;We distinguish and pride ourselves on offering authentic,classic ,traditional Organic Handmade Matka Yogurt which inspires our flavor. <br>
             &nbsp; &nbsp; &nbsp; Our Yogurt Pots are hand crafted by artisans in Nepal the same way they have been for centuries.
             Its produces thick and silky yogurt as the clay allows the water
             to evaporate slowly through the micro pores. 
             Beside, it contains several minerals which adds flavour and nutrition to the yogurt. 
             However,clay is an alkaline substance that can balance out the acidity of the yogurt to some extent.
             Its small size allows the making of small batches, to have fresh yogurt on hand.
             <br>
              &nbsp; &nbsp; &nbsp;
             We are a small family owned business operating under this classic style and we plan to continue the tradition for years to come in better quality.
             <br>
             <br>

     </p>   
    </div>
    
   
 </div>
 