
.container{
    width:90%;
    margin:auto;
    height:460px;
    width:100%;
    background-position:center top;
    background-size: cover;
    position:relative;
    margin-top:25px;
}

.box1{
    width:95%;
    height:100px;
    position:absolute;
    text-align:center;
}

.title1{
    color: var(--secondary-color);
    font-weight:bold;   
} 
.option2{
    /* font-family:cursive; */
    color: #ffa601;
}
.box2{
    width:28%;
    height:65%;
    position:absolute;
    left:35%;
    top: 25%;
}
.imgcover{
    width:100%;
    height:80%;
    border-radius: 30px;
}
.box2-contain{
  
    position:absolute;
    bottom:15%;
    left:40%;
}
/* BUTTON */
.box3{
    position: absolute;
    left:42%;
    bottom:2%;
}
.box3 a{
    background-color:green;
    color:white;
    padding:15px 20px;
    border-radius:5px;
}
.box3 a:hover{
    background-color: var(--secondary-color);
    color:white;
}


 @media (min-width: 268px) and (max-width: 575px) { 
    .box1{
        width:98%;
        left:0;
    }
    .title1{
        margin-top:10px;
        font-size:25px;;
    }
    .option2{
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
    }
    .box2{
        top:20%;
        left:15%; 
        width:70%;
        height:60%;
    }
    .imgcover{
        width:100%;
        height:80%;
    }
    .box2-contain{
  
        position:absolute;
        bottom:25%;
        left:20%;
        font-size:14px;
    }
    .box3{
        left:27%;
        bottom:12%;
    }
 }   


@media screen and (min-width:576px){
    .box1{
        width:98%;
        left:0;
    }
    .title1{
        margin-top:10px;
        font-size:26px;;
    }
    .option2{
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
    }
    .box2{
        top:20%;
        left:20%; 
        width:70%;
        height:60%;
    }
    .imgcover{
        width:90%;
        height:80%;
    }
    .box2-contain{
  
        position:absolute;
        bottom:25%;
        left:32%;
        font-size:14px;
    }
    .box3{
        left:37%;
        bottom:12%;
    }
}

@media (min-width: 768px) { 
    .box1{
        width:98%;
        left:0;
    }
    .title1{
        margin-top:10px;
        font-size:32px;;
    }
    .option2{
        font-size: xx-large;
        font-family: Arial, Helvetica, sans-serif;
    }
    .box2{
        top:20%;
        left:20%; 
        width:70%;
        height:80%;
    }
    .box2-contain{
  
        position:absolute;
        bottom:15%;
        left:34%;
        font-size:14px;
    }
    .box3{
        left:37%;
        bottom:5%;
    }
}

@media (min-width: 992px) { 
    .box1{
        width:98%;
        left:0;
    }
    .title1{
        margin-top:10px;
        font-size:40px;;
    }
    .option2{
        font-size:xx-large;
        font-family: Arial, Helvetica, sans-serif;
    }
    .box2{
        top:18%;
        left:25%; 
        width:60%;
        height:90%;
    }
    .box2-contain{
  
        position:absolute;
        bottom:12%;
        left:40%;
        font-size:14px;
    }
    .box3{
        left:43%;
        bottom:2%;
    }
}


 @media (min-width: 1200px) {
    .box1{
        width:98%;
        left:0;
    }
    .title1{
        margin-top:10px;
        font-size:46px;;
    }
    .option2{
        font-size:40px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .box2{
        top:20%;
        left:32%; 
        width:40%;
        height:80%;
    }
    .box2-contain{
        position:absolute;
        bottom:10%;
        left:41%;
    }
    .box3{
        left:43%;
        bottom:2%;
    }
 }








 














