<div class="container">
    <div class="box1">
        <div class="box1-contain">
        </div>
        <a routerLink="menu">Our Product</a>
    </div>
    <div class="box2">
        <div class="box2-contain">
        </div>
        <a href="">Step to Order</a>
    </div>
    <div class="box3">
        <div class="box3-contain ">
        </div>
        <a routerLink="about">Our Story</a>
    </div>
</div> 
<div class="container2">
    <h2>Step to Order</h2>
    <hr>
    <div class="container2-contain">
        <div class="container2-box1">
            <h5> Step 1</h5>
            <hr>
            <a class="slink" routerLink="menu" routerLinkActive="active-link">Select the Order</a>
        </div>
        <div class="container2-box2">
            <h5> Step 2</h5>
            <hr>
            <a class="slink" routerLink="orderonline" routerLinkActive="active-link">Order Online/Call</a>
        </div>
        <div class="container2-box3">
            <h5> Step 3</h5>
            <hr>
            <a class="slink" routerLink="contact" routerLinkActive="active-link">Get Delivered/Pickup</a>
        </div>
    </div>

</div> 