.container{
    width:100%;
    position: relative;
    margin-top: 25px;
  }
  h1{
    text-align: center;
      padding:10px;
      text-align:center;
      color:var(--secondary-color);
  }
  .box4{
    position:absolute;
    right:25%;
    bottom:20%;
    width:25%;
    text-align: center;
    font-size:24px;
}
  .box4 a{
    background-color:green;
    color:white;
    padding:15px 20px;
    border-radius: 5px;
}
.box4 a:hover{
    background-color: var(--secondary-color);
    color:white;
}

 @media (min-width: 268px) and (max-width: 575px) { 
    .box4{ 
        position:absolute;
        left:14%;
        bottom:20%;
        width:95%; 
        text-align: center;
        font-size:7px;
        height:10%;
    }
    .box4 a{
        padding:5px 5px;
    }
       

    
}

@media screen and (min-width:576px){
   
    .box4{ 
        position:absolute;
        left:14%;
        bottom:20%;
        width:95%; 
        text-align: center;
        font-size:7px;
        height:10%;
    }
    .box4 a{
        padding:5px 5px;
    }
       
   
}
@media (min-width: 768px){
    .box4{ 
        position:absolute;
        left:14%;
        bottom:20%;
        width:95%; 
        text-align: center;
        font-size:12px;
        height:10%;
    }
    .box4 a{
        padding:5px 5px;
    }
  


}

@media (min-width: 992px){
    .box4{ 
        position:absolute;
        left:15%;
        bottom:20%;
        width:95%; 
        text-align: center;
        font-size:18px;
        height:10%;
    }
    .box4 a{
        padding:5px 5px;
    }
   
   
}
@media (min-width: 1200px){

    .box4{ 
        position:absolute;
        left:12%;
        bottom:20%;
        width:95%; 
        text-align: center;
        font-size:22px;
        height:10%;
    }
    
   
} 