<h1> Our Choices of Yogurts </h1>
<div class="container">
    <hr>
    <div class="list">
        <div class="box1">
             
            <ul class="list-group">
                <li class="list-group-item ">Premium</li>
                <li class="list-group-item "> Standard </li>
                <li class="list-group-item ">Gift</li>
            </ul>  
        </div>
        <div class="box2">Choices 
            <ul class="list-group">
                <li class="list-group-item">Sweet  </li>
                <li class="list-group-item">Unsweeten </li>
                <li class="list-group-item">Fat </li>
                <li class="list-group-item">Non-fat </li>
              </ul>                
        </div>
  
        <div class="box3">Sizes and Price 
            <ul class="list-group">
             <li class="list-group-item ">Small &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
        
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $6.99 </li>
            
           
            <li class="list-group-item ">Medium &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$12.99 </li>
               
            <li class="list-group-item ">Large &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $15.99 </li>
            <li class="list-group-item ">Premium &nbsp;  &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$24.99 </li>
            <li class="list-group-item">Gift &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;$29.99 </li>
            </ul>   
        </div>
       <div class="box4">
             <br>
            <br>
            <br>
                <a class="slink" routerLink="orderonline" routerLinkActive="active-link"> Order Now</a>
        </div>
    </div> 
</div>
<div class="container2">
    <div class="box1-container1" id="premiumList">
                <h1 class="hed">Premium Yogurt  </h1> <hr>
                <p> Our Premium full-fat organic yogurt is made with traditional manner to create a rich,smooth and creamy yogurt from freshest milk.
                    It contains saffron from Pakistan. Currently,our premium yogurt is only available in large size which is 45oz. 
                    As it is fragmented in clay, it provides earthy flavour containing high protein and calcium.Available with nuts on the side. </p>
    </div>
</div>


