.container{
    /* background-color:#F0F0E8; */
    width:100%;
    position: relative;
    margin-top: 25px;

  }
.list{display:flex;
    justify-content:center;

  }
  h1{
    text-align: center;
      padding:10px;
      text-align:center;
      color:var(--secondary-color);
  }
  .box1{
    margin:10px;
    width:15%;
  }
  .box2{
    margin:10px;
    width:25%;
  }
  .box3{
    margin:10px;
    width:30%;
  }
  .box4{
    margin:10px;
    width:30%;
  }

.container2{
    background-color:azure;
    width:80%;
    text-align:center;
    font-family:cursive;  
    position: relative;
    left:13%;
}
.box1-container1{
    width:50%;
    margin:5px;
    padding:10px;
    text-align: center;
    background-color: azure;
    font-family:cursive;
}

.hed{
    font-family:cursive;
}
.box4{
    width:25%;
    text-align: center;
}
.buttonOrdernow{
    background-color: green;
    color:white;
    width:100%;
    font-size:20px;
}

@media (min-width: 268px) and (max-width: 575px) { 
   
    .list{
        display:grid;
    }

    .box1{
        margin:10px;
        width:100%;
        }
    .box2{
        margin:10px;
        width:100%;
        }
    .box3{
        margin:10px;
        width:100%;
        font-size:18px;
    }
    .box4{
        width:100%;
        margin:10px;
    }

    .box1-container1{
        display:grid;
        width:90%;
        height:auto;
        margin:10px;
    }
}

@media screen and (min-width:576px){
    .list{
        display:grid;
    }

    .box1{
        margin:10px;
        width:100%;
        height:30%;
        }
    .box2{
        margin:10px;
        width:100%;
        font-size:18px;
        }
    .box3{
        margin:10px;
        width:100%;
    }
    .box4{
        width:90%;
    }
    .box1-container1{
        display:grid;
        width:100%;
        height:auto;
    }
}
@media (min-width: 768px){
    .list{
    display:flex;
}

.box1{
    margin:10px;
    width:30%;
    height:30%;
    }
.box2{
    margin:10px;
    width:30%;
    }
.box3{
    margin:10px;
    width:40%;
}
.box4{
    width:30%;
}
.box1-container1{
    display:grid;
    width:100%;
}

}

@media (min-width: 992px){
    .list{
        display:flex;
    }
    
    .box1{
        margin:10px;
        width:20%;
        height:30%;
        }
    .box2{
        margin:10px;
        width:20%;
        }
    .box3{
        margin:10px;
        width:35%;
    }
    .box4{
        width:25%;
    }
    .box1-container1{
        display:grid;
        width:100%;
        height:auto;
    }
}
@media (min-width: 1200px){
    .list{
        display:flex;
    }
    
    .box1{
        margin:10px;
        padding:25px;
        width:20%;
    }
    .box2{
        margin:10px;
        width:20%;
        padding:25px;

        }
    .box3{
        margin:10px;
        width:25%;
        padding:25px;
    }
    .box4{
        width:25%;
        padding:25px;
    }
    .box1-container1{
        display:grid;
        width:100%;
    }
}